[[source]]
url = "https://repo.forge.lmig.com/api/pypi/python/simple"
verify_ssl = true
name = "pypi"

[dev]
pytest = "*"
isort = "*"
mypy = "*"
pandas = "*"
numpy = "*"
pathlib = "*"
luigi = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"


